In [1]:
import numpy as np

In [ ]:
from sympy import *

In [2]:
from sympy import init_printing

In [3]:
init_printing(use_latex="mathjax")

In [4]:
import pandas as pd

In [10]:
import tabulate

In [33]:
import csv

In [6]:
ls

Anthropometry.ipynb  data/        Game.ipynb
anthropometry.ods    Force.ipynb  Untitled.ipynb

In [46]:
df = pd.read_csv("data/anthropometry.csv", index_col=[0])
df

              adult     male   female    child  eldery
radius       0.2550   0.2700   0.2400   0.2100    0.25
dr           0.0350   0.0200   0.0200   0.0150    0.02
k_t          0.5882   0.5926   0.5833   0.5714    0.60
k_s          0.3725   0.3704   0.3750   0.3333    0.36
k_ts         0.6275   0.6296   0.6250   0.6667    0.64
v            1.2500   1.3500   1.1500   0.9000    0.80
dv           0.3000   0.2000   0.2000   0.3000    0.30
mass        73.5000  80.0000  67.0000  57.0000   70.00
mass_scale   8.0000   8.0000   6.7000   5.7000    7.00

In [48]:
list(df.index)

['radius', 'dr', 'k_t', 'k_s', 'k_ts', 'v', 'dv', 'mass', 'mass_scale']

In [49]:
list(df.columns)

['adult', 'male', 'female', 'child', 'eldery']

In [68]:
print(tabulate.tabulate(df, headers=list(df.columns.values),
                        numalign="left", tablefmt="simple"))

            adult    male    female    child    eldery
----------  -------  ------  --------  -------  --------
radius      0.255    0.27    0.24      0.21     0.25
dr          0.035    0.02    0.02      0.015    0.02
k_t         0.5882   0.5926  0.5833    0.5714   0.6
k_s         0.3725   0.3704  0.375     0.3333   0.36
k_ts        0.6275   0.6296  0.625     0.6667   0.64
v           1.25     1.35    1.15      0.9      0.8
dv          0.3      0.2     0.2       0.3      0.3
mass        73.5     80      67        57       70
mass_scale  8        8       6.7       5.7      7

In [24]:
print(tabulate.tabulate(df, headers=list(df.columns.values),
                        numalign="left", tablefmt="latex"))

\begin{tabular}{llllll}
\hline
            & adult   & male   & female   & child   & eldery   \\
\hline
 radius     & 0.255   & 0.27   & 0.24     & 0.21    & 0.25     \\
 dr         & 0.035   & 0.02   & 0.02     & 0.015   & 0.02     \\
 k\_t        & 0.5882  & 0.5926 & 0.5833   & 0.5714  & 0.6      \\
 k\_s        & 0.3725  & 0.3704 & 0.375    & 0.3333  & 0.36     \\
 k\_ts       & 0.6275  & 0.6296 & 0.625    & 0.6667  & 0.64     \\
 v          & 1.25    & 1.35   & 1.15     & 0.9     & 0.8      \\
 dv         & 0.3     & 0.2    & 0.2      & 0.3     & 0.3      \\
 mass       & 73.5    & 80     & 67       & 57      & 70       \\
 mass\_scale & 8       & 8      & 6.7      & 5.7     & 7        \\
\hline
\end{tabular}